/* general */

body {
  font-family: Arial;
  margin: 2rem;
  text-align: center;
  font-size: 0.6rem;
  background-color: #1f0f09;
  color: white;
}

/* header */

.navbar {
  background-color: #72aeb8;
  padding: 1rem 2rem 0.5rem 2rem;
  margin: -2rem -2rem 1.5rem -2rem;
}

.navbar-right {
  padding: 0;
}

.title {
  font-size: 2.75rem;
  font-weight: bold;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
}

li {
  list-style-type: none;
  margin: 0 1rem 0 1rem;
  font-size: 1rem;
}

a {
  color: #1f0f09;
  text-decoration: none;
  font-weight: bold;
}

/* content */

h1 {
  font-size: 1.5rem;
}

.target-container {
  margin: 1.25rem 0 1.25rem 0;
}

.class_a {
  color: lightsalmon;
}

#id_b {
  color: lightpink;
}
