/* general */

body {
  font-family: Arial;
  margin: 2rem;
  text-align: center;
  color: darkslategrey;
  font-size: 0.6rem;
}

/* header */

.navbar {
  background-color: cadetblue;
  padding: 1rem 2rem 0.5rem 2rem;
  margin: -2rem -2rem 1.5rem -2rem;
}

.navbar-right {
  padding: 0;
}

#logo {
  font-size: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

li {
  list-style-type: none;
  margin: 0 1rem 0 1rem;
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* content */

.class {
  color: darksalmon;
}

#id {
  color: darkorchid;
}